/*--- faq ---*/

.faq {
	background: rgba(0, 0, 0, 0) url("../images/contact-bg.jpg") no-repeat scroll 0 0 / cover;
	padding: 100px 0 150px;
	.title {
		margin-bottom: 50px;
	}
	.panel-group .panel-heading {
    border-bottom: 0;
    padding-left: 0;
}
	.panel-title a {
    font-size: 24px;
		color: $titleFont-color;
		font-weight: 700;
}
	.panel-body {
    background: $background01;
    border-top: none !important;
	}
	.faq-title{
		background: $yellow-color;
		text-align: center;
		padding: 10px 0 20px;
		margin-bottom: 30px;
		h2{
			color: $titleFont-color;
			font-weight: 700;
		}
	}
}

.faq-from{
	padding-bottom: 30px;
	form{
		padding: 0 20px;
	}
	.form-control {
    background: none;
    border: 1px soild $border-form;
    border-radius: 0;
	margin-bottom: 30px;
	padding: 10px 20px !important;
    box-shadow: none;
}
	.btn-custom {
    background-color: $oring-color !important;
    border-radius: 0;
    color: #ffffff !important;
    float: left;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.04em;
    margin-top: 15px;
    padding: 10px 45px !important;
		width: 100%;
    text-transform: uppercase;
}
	.btn-custom:hover {
    background-color: $blue-color !important;
}
}